<ion-content>
  
  <ion-grid>
    <ion-row class="background">
      <ion-col style="text-align: right" size="2">
        <div class="headerSheet" style="margin-top: 3%;">
          <ion-button class="newDoc" fill="outline">
            <ion-icon slot="icon-only" name="document-outline"></ion-icon>
          </ion-button>
        </div>
      </ion-col>
      <ion-col size="7">
        <div style="position: relative; top: 10px;">
          <a (click)="go()">Audionotiz hinzufügen</a>
        </div>
      </ion-col>
      <ion-col class="rightCol" size="3">
        <div class="submit">
        <ion-button style="--border-color: transparent; margin-right: 5%;"fill="outline">
          <ion-icon slot="icon-only" name="checkmark-outline"></ion-icon>
        </ion-button>
        </div>
      </ion-col>
    </ion-row>
    <ion-row style="margin-top: 40%;">
      <ion-col>
        <div class="input">
          <ion-label position="stacked">TITEL</ion-label>
          <ion-input placeholder="Titel eingeben"></ion-input>
        </div>
      </ion-col>
    </ion-row>
    <ion-row style="margin-top: 13px;">
      <ion-col>
        <div class="label">
          <p class="record">IHRE AUFNAHME</p>
        </div>
      </ion-col>
    </ion-row>
    <ion-row style="margin-top: 20px;">
      <ion-col>
        <div class="audio">
          <img src="/../../assets/audio-all@2x.png">
        </div>
      </ion-col>
    </ion-row>
    <ion-row style="margin-top: 15%;">
      <ion-col style="text-align: center;">
        <div class="button">
          <ion-button class="submit" shape="round" fill="outline">
            SPEICHERN
            <ion-icon slot="end" name="arrow-forward-outline"></ion-icon>
          </ion-button>
        </div>
      </ion-col>
    </ion-row>
    <ion-row>
      <ion-col style="text-align: center;">
        <div>
          <ion-button class="abort" fill="outline" (click)="return()">ABBRECHEN</ion-button>
        </div>
      </ion-col>
    </ion-row>
  </ion-grid>

</ion-content>
