<ion-content [fullscreen]="true">
  [scrollEvents]="true"
  (ionScrollStart)="logScrollStart()"
  (ionScroll)="logScrolling($event)"
  (ionScrollEnd)="logScrollEnd()">
  <ion-grid>
    <ion-row class="background">
      <ion-col style="text-align: center" size="3">
        <div class="headerSheet" style="margin-top: 5%;">
          <img src="/../../assets/BG-Iconic_final/messe_book_logo.png">
        </div>
      </ion-col>
      <ion-col size="9">
        <div style="margin-top: 3%;">
        <p class="header">Profil</p>
        </div>
      </ion-col>
    </ion-row>
    <ion-row style="margin-top: 60%;">
      <ion-col>
        <div id="formBox">
          <ion-form method="get" id="form1">
            <ion-label for="company" position="fixed">FIRMA</ion-label>
            <ion-input id="company"></ion-input>
          </ion-form>
        </div>
      </ion-col> 
    </ion-row>
    <ion-row style="margin-top: 4px;">
      <ion-col>
        <div id="formBox">
          <ion-form method="get" id="form1">
            <ion-label for="firstName" position="fixed">VORNAME</ion-label>
            <ion-input id="firstName"></ion-input>
          </ion-form>
        </div>
      </ion-col>
    </ion-row>
    <ion-row style="margin-top: 4px;">
      <ion-col>
        <div id="formBox">
          <ion-form method="get" id="form1">
            <ion-label for="surname" position="fixed">NACHNAME</ion-label>
            <ion-input id="surname"></ion-input>
          </ion-form>
        </div>
      </ion-col>
    </ion-row>
    <ion-row style="margin-top: 4px;">
      <ion-col>
        <div id="formBox">
          <ion-form method="get" id="form1">
            <ion-label for="e-mail" position="fixed">E-MAIL</ion-label>
            <ion-input id="e-mail"></ion-input>
          </ion-form>
        </div>
      </ion-col>
    </ion-row>
    <ion-row style="margin-top: 4px;">
      <ion-col>
        <div id="formBox">
          <ion-form method="get" id="form1">
            <ion-label for="password" position="fixed">PASSWORT</ion-label>
            <ion-input id="password"></ion-input>
          </ion-form>
        </div>
      </ion-col>
    </ion-row>
    <ion-row style="margin-top: 4px;">
      <ion-col>
        <div id="formBox">
          <ion-form method="get" id="form1">
            <ion-label for="corPass" position="fixed">PASSWORT WIEDERHOLEN</ion-label>
            <ion-input id="corPass"></ion-input>
          </ion-form>
        </div>
      </ion-col>
    </ion-row>  
    <ion-row style="margin-top: 18%;">
      <ion-col>
        <div style="text-align: center;">
          <ion-button type="submit" form="form1" value ="submit" shape="round" fill="outline">SPEICHERN</ion-button>
        </div>
      </ion-col>
    </ion-row>
    <ion-row>
      <ion-col style="text-align: center;">
        <div class="footer" style="text-align: center; margin-top: 70px;">
          <a (click)="go()">ABMELDEN</a>
        </div>
      </ion-col>
    </ion-row>
  </ion-grid>

</ion-content>
