.background {
    background-image: url(/../../assets/BG-Iconic_final/registrieren-top@1x.png);
    height: 30%;
    width: 100%;
    background-size: 100% auto;
    top: 0;
    align-items: baseline;
    max-width: auto;
    position: absolute;
    left: 0px;
}

.background .headerSheet {
    padding-top: 20%;
    padding-left: 15%;
    width: auto;
    height: auto;
}

.background .header {
    font-size: 21;
    color: #f5f5f5;
    text-align: bottom left;
    left: 0px;
} 

div {
    text-align: left;
    margin-left: 10%;
    margin-right: 10%;
}

ion-button {
    --border-width: medium;
    --ion-color-primary: #907F63;
    text-align: center;
    width: 80%;
    height: 40px;
}

ion-content {
    background-color: #f5f5f5;
    font-family: Arial, Helvetica, sans-serif;
}

#form1 {
    color: #112142;
}

#form1 ion-label {
    text-align: left;
    font-size: 13px;
}

#form1 ion-input {
    --ion-primary-color: #112142;
    border: thin;
}

#formBox {
    --ion-color-primary: #112142;
    border-bottom: 1px solid #112142;

}

.footer {
    margin-bottom: 30px;
    color: #907F63;
    font-size: 13px;
}