.background {
    background-image: url(/../../assets/BG-Iconic_final/messeauswahl-top@1x.png);
    height: 20%;
    width: 100%;
    background-size: 100% auto;
    top: 0;
    display: flex;
    flex-direction: row;
    align-items: center;
    position: absolute;
    z-index: 2;
    left: 0px;
}

.plus{
    background-image: url(/../../assets/plusMark.svg);
}



#addButtonBorder{
    width: 90%;
    height: 229px;
    border: 2px solid #C5DCDD;
    margin-bottom: 10px;
    display: flex;
    justify-content: center;

}

.plus{
    display:inline-block;
  width:50px;
  height:50px;
}

.lower-background {
    width: 100%;
    z-index: -2;
    left: 0%;
    right: 0%;
}

ion-content{
    --ion-background-color:#F5F5F5;
}

.background .headerSheet .return {
    --border-color: transparent;
    --ion-color-primary: #7BB0B1;
    z-index: 8;
}

.share {
    --border-color: transparent;
    --ion-color-primary: white;
    background-color: transparent;
} 

.background .header {
    letter-spacing: 2px;
    font-size: 18px;
    color: white;
}
