
<ion-content>
<ion-scroll scrollY="true">

    <ion-row class="background">
      <ion-col style="text-align: right" size="2">
        <div class="headerSheet" style="margin-top: 6%;">
          <ion-button (click)="return()" class="return" fill="outline">
            <ion-icon slot="icon-only" name="arrow-back-outline"></ion-icon>
          </ion-button>
        </div>
      </ion-col>
      <ion-col size="8">
        <div style="position: relative; top: 6%;" style="margin-top: 3%;">
          <p class="header">Bastei Lübbe</p>
        </div>
      </ion-col>
      <ion-col size="2">
        <div> 
          <ion-button class="share"style="position: relative; right: 7px;" fill="outline">
            <ion-icon slot="icon-only" name="share-social-outline"></ion-icon>
          </ion-button>
        </div>
      </ion-col>
    </ion-row>
    <ion-row style="margin-top: 25%;">
      <ion-col>
        <div class="lower-background">
          <img class="image" src="/../../assets/images/topbanner.svg">
        </div>
      </ion-col>
    </ion-row>
 
 

    <ion-row style="padding: 15px;">
      <ion-col style="display: flex;
      align-items: center;">
  <img src="../../assets/images/optionicon.svg">
  <ion-text style="font-size: 11px;color: #444D4D;margin-left: 10px;">Listenansicht</ion-text>
      </ion-col>
      <ion-col style="display: flex;
      align-items: center;justify-content: flex-end;">
        <img src="../../assets/images/tickthird.svg">
  <ion-text style="font-size: 11px;color: #444D4D;margin-left: 10px;">nochmal hingehen</ion-text>
      </ion-col>
    </ion-row>
  
  
    <ion-row style="padding: 10px;margin-left: 5px;">
      <ion-text style="font-size: 22px;color: #112142;">Katalog</ion-text>
    </ion-row>
  
    <ion-slides style="background: #F5F5F5;" pager="false" [options]="slideOpts">
      <ion-slide>
        <ion-card style="background: white;">
          <ion-row style="padding:10px">
            <img src="../../assets/images/pdfnew.svg">
          </ion-row>
          <ion-row>
            <ion-text style="font-size: 14px;color: #444D4D;margin-top: 10px;margin-left: 10px;">Lord Ipsum</ion-text>
          </ion-row>
          <ion-row>
            <ion-text style="font-size: 14px;color: #444D4D;margin-left: 10px;">Lord Ipsum</ion-text>
          </ion-row>
          <ion-row>
            <ion-text style="font-size: 13px;color: #B4B3B3;margin-left: 10px;">Lord Ipsum</ion-text>
          </ion-row>
        </ion-card>
      </ion-slide>
      <ion-slide>
        <ion-card style="background: white;">
          <ion-row style="padding:10px">
            <img src="../../assets/images/pdfnew.svg">
          </ion-row>
          <ion-row>
            <ion-text style="font-size: 14px;color: #444D4D;margin-top: 10px;margin-left: 10px;">Lord Ipsum </ion-text>
          </ion-row>
          <ion-row>
            <ion-text style="font-size: 14px;color: #444D4D;margin-left: 10px;">Lorem</ion-text>
          </ion-row>
          <ion-row>
            <ion-text style="font-size: 13px;color: #B4B3B3;margin-left: 10px;">Ipsum</ion-text>
          </ion-row>
        </ion-card>
      </ion-slide>
      <ion-slide>
        <ion-card style="background: white;">
          <ion-row style="padding:10px">
            <img src="../../assets/images/pdfnew.svg">
          </ion-row>
          <ion-row>
            <ion-text style="font-size: 14px;color: #444D4D;margin-top: 10px;margin-left: 10px;">Lord Ipsum </ion-text>
          </ion-row>
          <ion-row>
            <ion-text style="font-size: 14px;color: #444D4D;margin-left: 10px;">Lorem</ion-text>
          </ion-row>
          <ion-row>
            <ion-text style="font-size: 13px;color: #B4B3B3;margin-left: 10px;">Ipsum</ion-text>
          </ion-row>
        </ion-card>
      </ion-slide>
    </ion-slides>
  
    <ion-row style="padding: 15px;display: flex;
    align-items: center;">
    <ion-col size="4">
  <ion-text style="font-size: 22px;color: #112142;">
    Pinnwand
  </ion-text>
    </ion-col>
    <div *ngIf="isPinwand">
      <ion-col size="1.6">
        <img src="../../assets/images/camicon.svg">
          </ion-col>
          <ion-col size="1.6"> 
            <img src="../../assets/images/cameraicon.svg">
          </ion-col>
          <ion-col size="1.6">
            <img src="../../assets/images/editfullicon.svg">
          </ion-col>
          <ion-col size="1.6">
            <img src="../../assets/images/lasticon.svg">
          </ion-col>
          <ion-col size="1.6" (click)="addPinnwand()">
            <img style="margin-bottom: 5px;" src="../../assets/images/addicon.svg">
          </ion-col>
    </div>
    
  </ion-row>

  <div *ngIf="!isPinwand" style="display: flex;justify-content: center;">
    <div id="addButtonBorder" (click)="addPinnwand()">
   
        <img src="../../../assets/plusMark.svg">
  
    </div>
  </div>
  
  <ion-row style="padding: 15px;margin-bottom: 65px;" *ngIf="isPinwand">
    <ion-col style="background: #C5DCDD;height: 125px;">
  <ion-row>
    <ion-col size="2">
  <img src="../../assets/images/editindividual.svg">
    </ion-col>
    <ion-col size="10">
      <ion-text>Titel...</ion-text>
    </ion-col>
  </ion-row>
  <ion-row style="background: white;margin-top: 15px;">
    <ion-text style="font-size: 10px;color: #444D4D;">
      Lorem ipsum dolor sit amet, consetetur sadipscing elitr, sed diam nonumy eirmod tempor invidunt ut labore et dolore 
      magna aliquyam.
    </ion-text>
  </ion-row>
  
  <ion-row>
    <div style="background: #C5DCDD;
    height: 120px;
    margin-top: 25px;
    width: 163px;">
      <ion-row style="display: flex;
      align-items: center;
      padding-left: 5px; margin-top: 5%;"> 
        <ion-col size="2">
      <img src="../../assets/images/cameraindividual.svg">
        </ion-col>
        <ion-col size="10">
          <ion-text>Titel...</ion-text>
        </ion-col>
      </ion-row>
      <ion-row style="margin-top: 15px;display: flex;
      justify-content: center;">
        <img src="../../assets/images/specaunt.svg">
      </ion-row>
    </div>
  </ion-row>
  
    </ion-col>
    <ion-col style="padding-top: 0px;">
      <ion-row style="background: #C5DCDD;height: 50px;display: flex;
      align-items: center;"> 
        <ion-col size="2">
          <img src="../../assets/images/titleindividual.svg">
        </ion-col>
        <ion-col size="8">
          <ion-text>Titel...</ion-text>
        </ion-col>
        <ion-col size="2">
          <img src="../../assets/images/videoplay.svg"><br>
          <ion-text style="font-size: 7px;">2:12</ion-text>
        </ion-col>
      </ion-row>
  
      <div style="background: #C5DCDD;height: 125px;margin-top: 20px;">
        <ion-row>
          <ion-col size="2">
        <img src="../../assets/images/editindividual.svg">
          </ion-col>
          <ion-col size="10">
            <ion-text>Titel...</ion-text>
          </ion-col>
        </ion-row>
        <ion-row style="background: white;
        margin-top: 15px;
        width: 93%;
        margin-left: 3%;">
         
            <ion-text style="font-size: 10px;color: #444D4D;">
              Lorem ipsum dolor sit amet, consetetur sadipscing elitr, sed diam nonumy eirmod tempor invidunt ut labore et dolore 
              magna aliquyam.
            </ion-text>
         
          
        </ion-row>
      </div>
      
    </ion-col>
  </ion-row>
</ion-scroll>
</ion-content>
