<ion-content>
  <ion-grid>
    <ion-row class="background">
      <ion-col size="3" style="display: flex;
      justify-content: center;" (click)="back()">
      
          <img src="../../../assets/backicon.svg">
       
      </ion-col>
      <ion-col size="9">
        <div style="margin-top: 3%; font-size: 18px;">
          <p>Hinzufügen</p>
        </div>
      </ion-col>
    </ion-row> 
    <ion-row style="margin-top: 40%;">
      <ion-col> 
      <div class="header">
          Was möchten Sie<br>hinzufügen
      </div> 
      </ion-col> 
    </ion-row>
    <ion-row style="margin-top: 25%;">
      <ion-col size="1">
      </ion-col>
      <ion-col size="10">
        <div id="box">
          <ion-button (click)="goNote()" shape="round" fill="outline">NOTIZ</ion-button>
            <div id="object">
            <img src="/../../assets/icon_note-1.png">
          </div>
        </div>
      </ion-col>
      <ion-col size="1">
      </ion-col>
    </ion-row> 
    <ion-row style="margin-top: 5px;">
      <ion-col>
        <div style="text-align: center; font-size: 15px; color: #444D4D;">
          oder
        </div>
      </ion-col>
    </ion-row>
    <ion-row style="margin-top: 10%;">
      <ion-col size="1">
      </ion-col>
      <ion-col size="10">
        <div id="box">
          <ion-button (click)="goProduct()" shape="round" fill="outline">PRODUKT</ion-button>
          <div id="sentence">
            <img src="/../../assets/box-5.png">
          </div>
        </div>
      </ion-col>
      <ion-col size="1">
      </ion-col>
    </ion-row>
  </ion-grid>
</ion-content>



