ion-grid p {
    font-family: Arial, Helvetica, sans-serif;
    color: white;;
}

ion-content {
    letter-spacing: 2px;
}
.background {
    background-image: url(/../../assets/BG-Iconic_final/messeauswahl-top@1x.png);
    height: 20%;
    width: 100%;
    background-size: 100% auto;
    top: 0;
    position: absolute;
    left: 0px;
}

.background .header {
    color: white;
    font-size: 18;
    letter-spacing: 2px;
    left: 0px;
}


.background .return {
    --ion-color-primary: #7BB0B1;
    --border-color: transparent;
    width: auto;
    height: auto;
    left: 10px;
}


ion-button {
    width: 80%;
    height: 80px;
    font-size: 16;
    letter-spacing: 2px;
    --ion-color-primary: #007072;
    color: #007072;
    --border-width: medium;
    position: absolute;
}

#box {
    width: 80%;
    height: 100px;
}

#box ion-button {
    width: 100%;
    position: absolute;
    height: 70px; 
}

#box #object {
    width: 40px; 
    height: 25px;
    position: relative;
    text-align: center;
    top: -10px;
    left: 55%;
    --background-color: whitesmoke;
    background-color: whitesmoke;
}

.oder {
    color: #444D4D;
    text-align: center;
    font-size: 15px;
    --ion-color-primary: #444D4D;
}

#box #sentence {
    font-size: 13px;
    width: 75%;
    height: 25px;
    position: relative;
    text-align: center;
    top: -5px;
    left: 27%;  
    --ion-color-primary: #007072;
    background-color: whitesmoke;
}

#box #sentence p {
    color: #007072;
    --ion-color-primary: #007072;
}

#box #object .picture {
    width: 25%;
    height: 25%;
}