<ion-content>
  <ion-grid>
    <ion-row class="background">
      <ion-col style="left: 8px;" size="4">
          <ion-button style="padding-top: 15%;" class="return" fill="outline">
            <ion-icon slot="icon-only" name="arrow-back-outline"></ion-icon>
          </ion-button>
      </ion-col>
      <ion-col size="8">
        <div style="position: relative; top: 15%;">
          <p class="header">Erfassen</p>
        </div>
      </ion-col> 
    </ion-row>
    <ion-row style="margin-top: 40%;">
      <ion-col style="text-align: center; font-size: 23px; "> 
        <p style="color: #112142;">Bitte wählen</p>
      </ion-col>
    </ion-row>
    <ion-row style="margin-top: 15%;">
      <ion-col size="1">
      </ion-col> 
      <ion-col size="10">
        <div id="box">
          <ion-button routerLink="/erfassen2" routerDirection="root" shape="round" fill="outline">Besucher</ion-button>
            <div id="object">
            <img src="/../../assets/user-1.png">
          </div>
        </div>
      </ion-col>
      <ion-col size="1">
      </ion-col>
    </ion-row>
    <ion-row>
      <ion-col>
        <div style="text-align: center; font-size: 15px; color: #444D4D; height: 10px;">
          oder
        </div>
      </ion-col>
    </ion-row>
    <ion-row style="margin-top: 10%;">
      <ion-col size="1">
      </ion-col>
      <ion-col size="10">
        <div id="box">
          <ion-button (click)="goAussteller()" shape="round" fill="outline">AUSSTELLER</ion-button>
            <div id="object">
              <img src="">
            </div>
        </div>
      </ion-col>
      <ion-col size="1">
      </ion-col>
    </ion-row>
  </ion-grid>
</ion-content>


