
<ion-content>
    <ion-grid>
      <ion-row class="background">
        <ion-col style="text-align: right" size="2">
          <div class="headerSheet" style="margin-top: 6%;">
            <ion-button (click)="return()" class="return" fill="outline">
              <ion-icon slot="icon-only" name="arrow-back-outline"></ion-icon>
            </ion-button>
          </div>
        </ion-col>
        <ion-col size="3">
            <div class="inner-box">
              <img class="rPict"src="/../../assets/Bastei_Lübbe_Verlag_logo-6.jpg">
            </div>
        </ion-col>
        <ion-col size="5">
          <div style="position: relative; top: 6%;" style="margin-top: 3%;">
            <p class="header">Bastei Lübbe</p>
          </div>
        </ion-col>
        <ion-col size="2">
          <div>
            <ion-button class="share"style="position: relative; right: 7px;" fill="outline">
              <ion-icon slot="icon-only" name="share-social-outline"></ion-icon>
            </ion-button>
          </div>
        </ion-col>
      </ion-row> 
      <ion-row style="margin-top: 25%;">
        <ion-col>
          <div class="lower-background">
            <img class="image" src="/../../assets/images/topbanner.svg">
          </div>
        </ion-col>
      </ion-row>
    </ion-grid>
   
  
      <ion-row style="padding: 15px;">
        <ion-col style="display: flex;
        align-items: center;">
    <img src="../../assets/images/optionicon.svg">
    <ion-text style="font-size: 11px;color: #444D4D;margin-left: 10px;">Listenansicht</ion-text>
        </ion-col>
        <ion-col style="display: flex;
        align-items: center;justify-content: flex-end;">
          <img src="../../assets/images/tickthird.svg">
    <ion-text style="font-size: 11px;color: #444D4D;margin-left: 10px;">nochmal hingehen</ion-text>
        </ion-col>
      </ion-row>
    
    
      <ion-row style="padding: 10px;">
        <ion-text style="font-size: 23px;color: #112142;">Katalog</ion-text>
      </ion-row>
    
      <ion-slides style="background: #F5F5F5;" pager="false" [options]="slideOpts">
        <ion-slide>
          <ion-card style="background: white;">
            <ion-row style="padding:10px">
              <img src="../../assets/images/pdfnew.svg">
            </ion-row>
            <ion-row>
              <ion-text style="font-size: 14px;color: #444D4D;margin-top: 10px;margin-left: 10px;">Lord Ipsum</ion-text>
            </ion-row>
            <ion-row>
              <ion-text style="font-size: 14px;color: #444D4D;margin-left: 10px;">Lord Ipsum</ion-text>
            </ion-row>
            <ion-row>
              <ion-text style="font-size: 13px;color: #B4B3B3;margin-left: 10px;">Lord Ipsum</ion-text>
            </ion-row>
          </ion-card>
        </ion-slide>
        <ion-slide>
          <ion-card style="background: white;">
            <ion-row style="padding:10px">
              <img src="../../assets/images/pdfnew.svg">
            </ion-row>
            <ion-row>
              <ion-text style="font-size: 14px;color: #444D4D;margin-top: 10px;margin-left: 10px;">Lord Ipsum </ion-text>
            </ion-row>
            <ion-row>
              <ion-text style="font-size: 14px;color: #444D4D;margin-left: 10px;">Lorem</ion-text>
            </ion-row>
            <ion-row>
              <ion-text style="font-size: 13px;color: #B4B3B3;margin-left: 10px;">Ipsum</ion-text>
            </ion-row>
          </ion-card>
        </ion-slide>
        <ion-slide>
          <ion-card style="background: white;">
            <ion-row style="padding:10px">
              <img src="../../assets/images/pdfnew.svg">
            </ion-row>
            <ion-row>
              <ion-text style="font-size: 14px;color: #444D4D;margin-top: 10px;margin-left: 10px;">Lord Ipsum </ion-text>
            </ion-row>
            <ion-row>
              <ion-text style="font-size: 14px;color: #444D4D;margin-left: 10px;">Lorem</ion-text>
            </ion-row>
            <ion-row>
              <ion-text style="font-size: 13px;color: #B4B3B3;margin-left: 10px;">Ipsum</ion-text>
            </ion-row>
          </ion-card>
        </ion-slide>
      </ion-slides>



      <ion-grid style="margin-top: 5%;">
        <ion-row>
          <ion-col>
            <div style="text-align: left; font-size: 23px;" >
              <p style="color: #112142;">Pinnwand</p>
            </div>
          </ion-col>
        </ion-row>
        <ion-row  style="text-align: center;">
          <ion-col style="text-align: center;">
            <div style="text-align: center; width: 90%; height: 200px; right: 5%; left: 5%;">
              <ion-button (click)="goAddpage()" style="width: 100%; height: 200px; --border-color: #C5DCDD;" (click)="go()" class="button" expand="block" fill="outline">
                <ion-icon style="width: 95%; height: 195px; color: #007072;" name="add-outline"></ion-icon>
              </ion-button>
            </div>
          </ion-col>
        </ion-row>
        <ion-row>
          <ion-col>
            <div>
            </div>
          </ion-col>
        </ion-row>
        <ion-row style="margin-top: 10%;">
          <ion-col style="text-align: center;">
            <ion-button (click)="goAnfrage()" fill="outline" shape="round" style="width: 60%; --border-color: #907F63; --ion-color-primary: #907F63; --border-width: medium;">
              ANFRAGEN
              <ion-icon slot="end" name="arrow-forward-outline"></ion-icon>
            </ion-button>
          </ion-col>
        </ion-row>
      </ion-grid>

  </ion-content>
  