<ion-content>

  <ion-grid>
    <ion-row class="background">
      <ion-col style="text-align: right" size="2">
        <div class="headerSheet" style="margin-top: 3%;">
          <ion-button (click)="return()" class="newDoc" fill="outline">
            <ion-icon slot="icon-only" name="document-outline"></ion-icon>
          </ion-button>          
        </div>
      </ion-col>
      <ion-col size="7">
        <div style="position: relative; top: 12px; text-align: left;">
          <p class="header">Textnotiz hinzufügen</p>
        </div>
      </ion-col>
      <ion-col class="rightCol" size="3">
        <div class="submit">
        <ion-button fill="outline" (click)="add()">
          <ion-icon slot="icon-only" name="checkmark-outline"></ion-icon>
        </ion-button>
        </div>
      </ion-col>
    </ion-row>
    <ion-row style="margin-top: 45%;">
      <ion-col>
        <ion-form> 
          <div class="input">
          <ion-label position="stacked">TITEL</ion-label>
          <ion-input class="ion-input" [(ngModel)]="title" placeholder="Titel eingeben"></ion-input>
          </div>
        </ion-form>
      </ion-col>
    </ion-row>
    <ion-row style="margin-top: 10%;">
      <ion-col>
        <div class="textarea">
          <ion-label style="font-size: 13px;" position="floating">IHRE NOTIZ</ion-label>
          <ion-textarea rows="14" cols="12" [(ngModel)]="description" placeholder="Hier schreiben..."></ion-textarea>
        </div>
      </ion-col>
    </ion-row>
    <ion-row style="margin-top: 10%;">
      <ion-col style="text-align: center;">
        <div (click)="add()">
          <ion-button class="save" fill="outline" shape="round">
            SPEICHERN
            <ion-icon slot="end" name="arrow-forward-outline"></ion-icon>
          </ion-button>
        </div>
      </ion-col>
    </ion-row>
    <ion-row style="margin-top: 3%;">
      <ion-col style="text-align: center;">
        <div>
          <ion-button class="break" fill="outline" (click)="return()">ABBRECHEN</ion-button>
        </div>
      </ion-col>
    </ion-row>
  </ion-grid>

</ion-content>
