<ion-content>
  <ion-grid>
    <ion-row class="background">
      <ion-col size="3">
        <ion-button class="returnButton">
          <ion-icon slot="icon-only" name="arrow-back-outline"></ion-icon>
        </ion-button>
      </ion-col>
      <ion-col size="9">
        <div style="margin-top: 3%; font-size: 18px;">
          <p>Erfassen</p>
        </div>
      </ion-col>
    </ion-row> 
    <ion-row style="margin-top: 40%;">
      <ion-col> 
      <div class="header">
        Lorem ipsum dolor sit amet,
        consetetur sadipscing elitr, sed.
        <ion-icon style="color: #C6B8A0" size="medium" name="information-circle-outline"></ion-icon>
      </div>
      </ion-col>
    </ion-row>
    <ion-row style="margin-top: 25%;">
      <ion-col size="1">
      </ion-col>
      <ion-col size="10">
        <div id="box">
          <ion-button shape="round" fill="outline">VISITENKARTE<br>FOTOGRAFIEREN</ion-button>
            <div id="object">
            <img src="/../../assets/Icon feather-camera.png">
          </div>
        </div>
      </ion-col>
      <ion-col size="1">
      </ion-col>
    </ion-row>
    <ion-row style="margin-top: 5px;">
      <ion-col>
        <div style="text-align: center; font-size: 15px; color: #444D4D;">
          oder
        </div>
      </ion-col>
    </ion-row>
    <ion-row style="margin-top: 5%;">
      <ion-col size="1">
      </ion-col>
      <ion-col size="10">
        <div id="box">
          <ion-button shape="round" fill="outline">Nr   </ion-button>
          <div id="sentence">
            <p>AUSSTELLER EINGEBEN</p>
          </div>
        </div>
      </ion-col>
      <ion-col size="1">
      </ion-col>
    </ion-row>
  </ion-grid>
</ion-content>


