.background {
    background-image: url(/../../assets/BG-Iconic_final/registrieren-top@1x.png);
    height: 30%;
    width: 100%;
    background-size: 100% auto;
    top: 0;
    align-items: baseline;
    max-width: auto;
    position: absolute;
    left: 0px;
}

.background .headerSheet {
    padding-top: 20%;
    padding-left: 15%;
    width: 100%;
    height: auto;
}

.background .header {
    font-size: 21;
    color: #f5f5f5;
    text-align: bottom left;
    padding-left: 8%;

}

div {
    text-align: left;
    margin-left: 10%;
    margin-right: 10%;
}

ion-button {
    --border-width: medium;
    --ion-color-primary: #907F63;
    text-align: center;
    width: 80%;
}

ion-content {
    background-color: #f5f5f5;
    font-family: Arial, Helvetica, sans-serif;
}

#form1 {
    color: #112142;
}

#form1 ion-label {
    text-align: left;
    font-size: 13px;
}

#form1 ion-input {
    --ion-primary-color: #112142;
    border: thin;
}

#formBox {
    --ion-color-primary: #112142;
    border-bottom: 1px solid #112142;

}


.background-bottom {
    background-image: url(../../../assets/footersignup.svg);
    height: 30%;
    width: 100%;
    background-size: 100% auto;
    bottom: 0;
    align-items: baseline;
    max-width: auto;
  
    left: 0px;
}

.footerbg {
    margin-left: 0px !important;
    background-image: url(../../../assets/footersignup.png);
    height: 24%;
    width: 100%;
    background-size: 334% 175%;
    bottom: 0;
    align-items: baseline;
    max-width: auto;
    left: 0px;
    background-position-x: 50;
    background-position-x: 50%;
    background-position-y: 277px;
    display: flex;
    align-items: center;
    justify-content: center;
}


