<ion-content [fullscreen]="true">
  [scrollEvents]="true"
  (ionScrollStart)="logScrollStart()"
  (ionScroll)="logScrolling($event)"
  (ionScrollEnd)="logScrollEnd()">
 
    <ion-row class="background">
      <ion-col style="text-align: center" size="4">
        <div class="headerSheet" style="margin-top: 5%;">
          <img src="/../../assets/BG-Iconic_final/messe_book_logo.png">
        </div>
      </ion-col>
      <ion-col size="8">
        <div style="margin-top: 3%;">
        <p class="header">Registrieren</p>
        </div>
      </ion-col>
    </ion-row>
    <ion-row style="margin-top: 60%;">
      <ion-col>
        <div id="formBox">
          <ion-form method="get" id="form1">
            <ion-label for="company" position="fixed">FIRMA</ion-label>
            <ion-input id="company"></ion-input>
          </ion-form>
        </div>
      </ion-col> 
    </ion-row>
    <ion-row style="margin-top: 4px;">
      <ion-col>
        <div id="formBox">
          <ion-form method="get" id="form1">
            <ion-label for="firstName" position="fixed">VORNAME</ion-label>
            <ion-input id="firstName"></ion-input>
          </ion-form>
        </div>
      </ion-col>
    </ion-row>
    <ion-row style="margin-top: 4px;">
      <ion-col>
        <div id="formBox">
          <ion-form method="get" id="form1">
            <ion-label for="surname" position="fixed">NACHNAME</ion-label>
            <ion-input id="surname"></ion-input>
          </ion-form>
        </div>
      </ion-col>
    </ion-row>
    <ion-row style="margin-top: 4px;">
      <ion-col>
        <div id="formBox">
          <ion-form method="get" id="form1">
            <ion-label for="e-mail" position="fixed">E-MAIL</ion-label>
            <ion-input id="e-mail"></ion-input>
          </ion-form>
        </div>
      </ion-col>
    </ion-row>
    <ion-row style="margin-top: 4px;">
      <ion-col>
        <div id="formBox">
          <ion-form method="get" id="form1">
            <ion-label for="password" position="fixed">PASSWORT</ion-label>
            <ion-input id="password"></ion-input>
          </ion-form>
        </div>
      </ion-col>
    </ion-row>
    <ion-row style="margin-top: 4px;">
      <ion-col>
        <div id="formBox">
          <ion-form method="get" id="form1">
            <ion-label for="corPass" position="fixed">PASSWORT WIEDERHOLEN</ion-label>
            <ion-input id="corPass"></ion-input>
          </ion-form>
        </div>
      </ion-col>
    </ion-row> 
    <ion-row style="margin-top: 17%;">
      <ion-col>
        <div style="text-align: center;">
          <ion-button type="submit" form="form1" value ="submit" shape="round" fill="outline">REGISTRIEREN</ion-button>
        </div>
      </ion-col>
    </ion-row>
    


   

    <div class="footerbg">
    
          <div  style="text-align: center; margin-top: 50;">
            <p>Haben Sie schon einen Account?</p>
            <a (click)="go3()">Hier einloggen</a>
          </div>
       
    </div>
  

</ion-content>



