.background {
  background-image: url(/../../assets/BG-Iconic_final/registrieren-top@1x.png);
  height: 30%;
  width: 100%;
  background-size: 100% auto;
  top: 0;
  align-items: baseline;
  max-width: auto;
  position: absolute;
  left: 0px;
  right: 0px;
}

.background .headerSheet {
  padding-top: 20%;
  padding-left: 15%;
  width: 100%;
  height: auto;
}

.background .header {
  font-size: 18;
  text-align: bottom left;
  padding-left: 8%;
  color: whitesmoke;
  letter-spacing: 2px;
}

.background-bottom {
  background-image: url(/../../assets/BG-Iconic_final/einloggen-bottom@1x.png);
  height: 35%;
  width: 100%;
  background-size: 100% auto;
  bottom: 0;
  align-items: baseline;
  max-width: auto;
  position: absolute;
  text-align: center;
  color: #C5DCDD;
  left: 0px;
}

.button {
  text-align: center;
  height: 60px;
}

.button ion-button {
  width: 50%;
  height: 50px;
  --ion-color-primary: #907F63;
  color: #907F63;
  letter-spacing: 3px;
  --border-width: medium;
}

ion-label {
  font-size: 13px;
  color: #112142;
}

.inputField {
  padding-left: 5%;
  padding-right: 15%;
}

.forgPass {
  font-size: 13px;
  float: right;
  color: #003031;
}

.footer {
  margin-top: 45%;
  font-size: 13;
}


#pwd, #e-mail {
  border-bottom: 1px solid #112142;
}


.footerbg {
  margin-left: 0px !important;
  background-image: url(../../../assets/footersignup.png);
  height: 200px;
  width: 100%;
  background-size: 334% 175%;
  bottom: 0;
  align-items: baseline;
  max-width: auto;
  left: 0px;
  background-position-x: 50;
  background-position-x: 50%;
  background-position-y: 259px;
 

}

