

<ion-content>
  <div>
    <ion-row class="background">
      <ion-col style="text-align: center" size="4">
        <div class="headerSheet" style="margin-top: 5%;">
          <img src="/../../assets/BG-Iconic_final/messe_book_logo.png">
        </div>
      </ion-col>
      <ion-col size="8">
        <div style="position: relative; top: -5px;">
        <p class="header">Einloggen</p>
        </div>
      </ion-col>
    </ion-row>
    <ion-row style="margin-top: 65%;">
      <ion-col>
        <div class="inputField">
          <ion-form id="login" method="get">
            <ion-label for="e-mail" position="fixed">E-MAIL</ion-label>
            <ion-input type="email" id="e-mail" placeholder="e-Mail eingeben"></ion-input>
          </ion-form>
        </div>
      </ion-col>
    </ion-row>
    <ion-row style="margin-top: 5%;">
      <ion-col>
        <div class="inputField">
          <ion-form id="login" method="get">
            <ion-label for="pwd" position="fixed">PASSWORT</ion-label>
            <ion-input type="password" id="pwd" placeholder="Passwort eingeben">
            </ion-input>
          </ion-form>
        </div>
      </ion-col>
    </ion-row>
    <ion-row style="margin-top: 3px;">
      <ion-col size="2">
      </ion-col>
      <ion-col size="8">
        <div>
          <a class="forgPass" href="">Passwort vergessen?</a>
        </div>
      </ion-col>
      <ion-col size="2">
      </ion-col>
    </ion-row>
    <ion-row style="margin-top: 5%;">
      <ion-col>
        <div class="button">
          <ion-button (click)="go()" shape="round" fill="outline">EINLOGGEN</ion-button>
        </div>
      </ion-col>
    </ion-row>


    <div style=" display: flex;
    align-items: center;
    justify-content: center;">
 <div class="footerbg">
      
  <div style="text-align: center; margin-top: 50px;">
    <p>Noch kein Account?</p>
    <a style="color: #C5DCDD;" (click)="go2()">Hier Registrieren</a>
  </div>

</div>

    </div>
   
  </div>
</ion-content>
