

.background-top {
  
    background-image: url(/../../../../../assets/BG-Iconic_final/messeauswahl-top@1x.png);
    height: 20%;
    width: 100%;
    background-size: 100% auto;
    top: 0;
    align-items: baseline;
    position: absolute;
    left: 0px;
}



.topHeader{
  display: flex;
  flex-direction: row;
  align-items: center;
  margin-top: 15px;
}

.background-top .header {
  color: white;
  font-size: 18px;
  left: 0px;
  margin-top: 10px;
}


.ausDiv{
    padding: 25px;
      display: flex;
      justify-content: space-between;
      background: white;
  }
  
  
  
  .helanDiv{
    padding: 23px;
    display: flex;
    background: #D5E1E2;
  }
  
  .programmDiv{
    padding: 25px;
    background: white;
    border: 2px solid transparent;
    border-bottom-left-radius: 30px;
    border-bottom-right-radius: 30px;
    margin-bottom:15%;
    ion-row{
      ion-col{
        padding-left: 0px;
        padding-right: 0px;
      }
    }
    ion-button{
      color: #444D4D;
      --border-color: #007072;
    }
  }
  
  ion-card{
    height: 100px;
    width: 100px;
    background: #F4F4F4;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
  
  ion-content{
  
    --ion-background-color:#F5F5F5;
  }