ion-content {
    background-color: whitesmoke;
    letter-spacing: 2px;
}

.background {
    background-image: url(/../../assets/BG-Iconic_final/messeauswahl-top@1x.png);
    height: 20%;
    width: 100%;
    background-size: 100% auto;
    top: 0;
    align-items: baseline;
    position: absolute;
    left: 0px;
}

.background .headerSheet .newDoc{
    --border-color: transparent;
    --ion-color-primary: #7BB0B1;
    margin-top: 15px;
}

.background .headerSheet .submit{
    width: 70%;
    height: auto;
    --border-color: transparent;
    --ion-color-primary: white;
    background-color: transparent;
}

.background .headerSheet {
    background-color: transparent;
}

.background .rightCol {
    text-align: center;
}

.word {
    font-size: 18;
    color: white;
    letter-spacing: 2px;
    margin-top: 5%;
}

.aboveBox {
    padding-left: 3%;
    color: #112142;
    letter-spacing: 2px;
}
ion-item {
    border: none;
    padding-left: 3%;
    padding-right: 3%;
}

ion-textarea {
    fill: white;
    background-color: white;
}

ion-label {
    letter-spacing: 2px;
    color: #112142;
}

.save {
    --border-width: medium;
    --border-color: #907F63;
    letter-spacing: 2px;
    color: #907F63;
    font-size: 16px;
}

.header {
    font-size: 18;
    text-align: bottom left;
    padding-left: 8%;
    color: whitesmoke;
    letter-spacing: 2px;
}

.text {
    color: #003031;
    font-size: 15px;
    margin-left: 5%
}

.textarea {
    text-align: center;
}

.textarea ion-textarea {
    border: 1px solid #444D4D;
    text-align: center;
}