<ion-content>

  <ion-grid>
    <ion-row class="background">
      <ion-col style="text-align: right" size="2">
        <div class="headerSheet" style="margin-top: 3%;">
          <ion-button class="newDoc" fill="outline">
            <ion-icon slot="icon-only" name="arrow-back-outline"></ion-icon>
          </ion-button>          
        </div>
      </ion-col>
      <ion-col size="10">
        <div style="position: relative; top: 12px; text-align: left;">
          <p class="header">Anfrage an Bastei Lübbe</p>
        </div>
      </ion-col>
    </ion-row>
    <ion-row style="margin-top: 45%;">
      <ion-col>
        <div class="text">
          <p>Hier stellst du eine direkte Anfrage an<br>den Aussteller</p>
        </div>
      </ion-col>
    </ion-row>
    <ion-row style="margin-top: 10%;">
      <ion-col>
        <div class="textarea">
          <ion-label style="font-size: 13px;" position="floating">IHRE NOTIZ</ion-label>
          <ion-textarea rows="14" cols="8" placeholder="Hier schreiben..."></ion-textarea>
        </div>
      </ion-col>
    </ion-row>
    <ion-row style="margin-top: 10%;">
      <ion-col style="text-align: center;">
        <div>
          <ion-button class="save" fill="outline" shape="round">
            ANFRAGEN
            <ion-icon slot="end" name="arrow-forward-outline"></ion-icon>
          </ion-button>
        </div>
      </ion-col>
    </ion-row>
  </ion-grid>

</ion-content>
