.background {
    background-image: url(/../../assets/BG-Iconic_final/messeauswahl-top@1x.png);
    height: 20%;
    width: 100%;
    background-size: 100% auto;
    top: 0;
    position: absolute;
    left: 0px;
}

ion-content {
    letter-spacing: 2px;
}

.textBox {
    font-size: 9px;
    background-color: white;
    margin: 5px auto;
}

.articleBox {
    background-color: #C5DCDD;
}
.articleBox img {
    width: 75%;
    height: auto; 
}

.titleBox {
    width: 90%;
    height: 40px;
    background-color: #C5DCDD;
}

.listenansicht ion-button{
    color: #D1C5B0;
    --ion-color-primary: transparent;
}

.listenansicht p {
    font-size: 11px;
    color: #444D4D;
}

.notes {
    text-align: left;
    font-size: 23px;
    color: #112142;
}

div {
    margin-right: 5%;
    margin-left: 5%;
}
