
<ion-content>

  <ion-row class="background">
    <ion-col size="2">
      <div class="logo">
        <img src="/../../assets/BG-Iconic_final/messe_book_logo.png">
      </div>
    </ion-col>
    <ion-col size="10">
      <div class="header">
        <p>Messeauswahl</p>
      </div>
    </ion-col>
  </ion-row>
 
 
  <div style="display: flex;
  padding: 20px; margin-top: 35%;">
    <ion-text style="font-size: 15px;color: #444D4D;">
      Lorem ipsum dolor sit amet, consetetur sadipscing elitr, sed.
    </ion-text>
    <img src="../../assets/images/infoicon.svg">
  </div>

  <div class="aktuDiv">
<ion-row style="font-size: 23px;color: #112142;">
  Aktuell
</ion-row>

<ion-row style="margin-top: 15px;
height: 55px;">
  <div class="round">
    <ion-col size="3" style="top: 11px;">
      <img src="../../assets/images/redicon.svg">
        </ion-col>
        <ion-col size="7" style="font-size: 16px;color: #444D4D;padding-top: 0px;
        height: 114px;">
          Frankfurter Buchmesse
        </ion-col>
  </div>
 <ion-col size="2" style="display: flex;
 justify-content: flex-end;">
   <img src="../../assets/images/tick.svg">
 </ion-col>
  
</ion-row>

<ion-row style="margin-top: 15px;
display: flex;
align-items: center;">
  <ion-col size="3">
    <img src="../../assets/images/second.svg">

  </ion-col>
  <ion-col size="9" style="font-size: 16px;color: #444D4D;">
    Leipziger Buchmesse
  </ion-col>
  
</ion-row>

<ion-row style="margin-top: 15px;
display: flex;
align-items: center;">
  <ion-col size="3">
    <img src="../../assets/images/third.svg">
  </ion-col>
  <ion-col size="9" style="font-size: 16px;color: #444D4D;">
    Messe 3
  </ion-col>
  
</ion-row>
  </div>

  <ion-row style="border: 2px solid transparent;
  border-top-left-radius: 35px;
  border-bottom-right-radius: 35px;margin-top: 15px;">
<ion-text style="font-size: 23px;color: #112142;padding: 5px;
margin-left: 20px;">Zukunft</ion-text>
  </ion-row>

  <ion-row style="border: 2px solid transparent;
  border-top-left-radius: 35px;
  border-bottom-right-radius: 35px;margin-top: 15px;"> 
    <ion-text style="font-size: 23px;color: #112142;padding: 5px;
    margin-left: 20px;">Vergangenheit</ion-text>
  </ion-row>

  <ion-row style="margin-top: 7%;
  display: flex;
  justify-content: center;">
    <ion-button style="width: 60%; --border-width: medium;" fill="outline" shape="round">
      WEITER
      <ion-icon slot="end" name="arrow-forward-outline"></ion-icon>
    </ion-button>
    
  </ion-row>

 

</ion-content>
