ion-content{
    letter-spacing: 2px;
    --ion-background-color:#F5F5F5;
}

.aktuDiv{
    padding: 20px;
    background-color: white;
    border: 2px solid transparent;
    border-top-left-radius: 35px;
    border-bottom-right-radius: 35px;
}

.round{
    
    border: 2px solid #D1C5B0;
    border-radius: 30px;
}

ion-button{
    color: #907F63;
    --border-color:#907F63;
}

.background {
    background-image: url(/../../assets/BG-Iconic_final/messeauswahl-top@1x.png);
    height: 20%;
    width: 100%;
    background-size: 100% auto;
    top: 0;
    align-items: baseline;
    position: absolute;
    left: 0px;
}

.background .header {
    font-size: 18px;
    color: white;
    position: relative;
    left: 0px;
    margin-top: 10%;
}

.background .logo {
    width: 75%;
    height: 75%;
    bottom: 0px;
    margin-top: 10%;
    margin-left: 10%;
    position: relative;
}