<ion-content>
 
  <ion-grid>
    <ion-row class="background">
      <ion-col style="text-align: right" size="3">
        <div class="headerSheet" style="margin-top: 8%;">
          <ion-button (click)="return()" class="return" fill="outline">
            <ion-icon slot="icon-only" name="arrow-back-outline"></ion-icon>
          </ion-button>
        </div>
      </ion-col>
      <ion-col size="9">
        <div style="position: relative; top: 15%;">
          <p class="header">Notiz hinzufügen</p>
        </div>
      </ion-col> 
    </ion-row>
    <ion-row style="text-align: center; margin-top: 60%;">
      <ion-col>
        <div id="button">
          <div id="object">
            <p (click)="goPhoto()">FOTOGRAFIEREN</p>
            <div id="image">
              <img src="/../../assets/Icon feather-camera.png">
            </div>
          </div>
        </div>
      </ion-col>
    </ion-row>
    <ion-row style="text-align: center; margin-top: 10%;">
      <ion-col>
        <div routerLink="/add-textnote-page" id="button">
        <div id="object">
            <p (click)="goTextnote()">TEXT<br>EINGEBEN</p>
            <div id="image">
              <img src="/../../assets/Icon feather-edit-3.png">
            </div>
          </div>
        </div>
      </ion-col>
    </ion-row>
    <ion-row style="text-align: center; margin-top: 10%;">
      <ion-col>
        <div routerLink="/add-audio-note-page" id="button">
        <div id="object">
            <p (click)="go()">SPRACHNACHRICHT<br>AUFNEHMEN</p>
            <div id="image1">
              <img src="/../../assets/mic.png">
            </div>
          </div>
        </div> 
      </ion-col>
    </ion-row>
    <ion-row  style="text-align: center; margin-top: 10%;">
      <ion-col>
        <div>
          <ion-button class="submit" style="width: 60%; --border-width: medium;" shape="round" fill="outline">SPEICHERN</ion-button>
        </div>
      </ion-col>
    </ion-row>
  </ion-grid>
</ion-content>
