.background {
    background-image: url(/../../../../../assets/BG-Iconic_final/messeauswahl-top@1x.png);
    height: 20%;
    width: 100%;
    background-size: 100% auto;
    top: 0;
    align-items: baseline;
    position: absolute;
    left: 0px;
}

.background .object {
    width: 50%;
    height: 50%;
}

ion-icon {
    --border-color: transparent;
    --ion-color-primary: #007072;
    width: 50%;
    height: 50%;
    background-color: white;
    border: none;
    color: #007072;
}

 p{
    font-size: 23px;
    color: #112142;
}

.IpsumBox {
    font-size: 16px;
    border-bottom: 1px solid whitesmoke;
    --ion-color-primary: whitesmoke;
}

ion-content {
    background-color: whitesmoke;
}
