<ion-content>
  [scrollEvents]="true"
  (ionScrollStart)="logScrollStart()"
  (ionScroll)="logScrolling($event)"
  (ionScrollEnd)="logScrollEnd()">
  <ion-grid>
    <ion-row class="background">
      <ion-col size="3">
        <div class="object">
          <img src="/../../assets/BG-Iconic_final/messe_book_logo.png">
        </div>
      </ion-col>
      <ion-col size="6">
        <div>
          <p style="color: white;">Einstellungen</p>
        </div>
      </ion-col>
      <ion-col size="3">
        <div>
        </div>
      </ion-col>
    </ion-row>
    <ion-row style="margin-top: 20%;">
      <ion-col>
        <p>
          Lorem Ipsum
        </p>
      </ion-col>
    </ion-row>
    <ion-row style="margin-top: 2%;">
      <ion-col>
        <div style="text-align: left;">
          <ion-button class="upperButton" style="right: 0px;">
            <ion-icon slot="icon-only" name="arrow-forward-outline"></ion-icon>
          </ion-button>
          Lorem Ipsum Lorem Ipsum Lorem Ipsum<br>Lorem Ipsum Lorem Ipsum
        </div>
      </ion-col>
    </ion-row>
    <ion-row>
      <ion-col>
        <p>Lorem Ipsum</p>
      </ion-col>
    </ion-row>
    <ion-row style="margin-top: 2%;">
      <ion-col>
        <div style="text-align: left;">
          <ion-button class="upperButton" style="right: 0px;">
            <ion-icon slot="icon-only" name="arrow-forward-outline"></ion-icon>
          </ion-button>
          Lorem Ipsum
        </div>
      </ion-col>
    </ion-row>
    <ion-row>
      <ion-col>
        <div class="IpsumBox">
          <img src="">
          Lorem Ipsum Lorem Ipsum Lorem Ipsum<br>Lorem Ipsum Lorem Ipsum
        </div>
      </ion-col>
    </ion-row>
    <ion-row>
      <ion-col>
        <p>Lorem Ipsum</p>
      </ion-col>
    </ion-row>
    <ion-row>
      <ion-col>
        <div class="IpsumBox">
          <img src="">
          Lorem Ipsum
        </div>
      </ion-col>
    </ion-row>
    <ion-row style="margin-top: 2%;">
      <ion-col>
        <div class="IpsumBox">
          <img src="">
          Lorem Ipsum
        </div>
      </ion-col>
    </ion-row>
    <ion-row>
      <ion-col>
        <p>Lorem Ipsum</p>
      </ion-col>
    </ion-row>
    <ion-row style="margin-top: 2%;">
      <ion-col>
        <div class="IpsumBox">
          <img src="">
          Lorem Ipsum
        </div>
      </ion-col>
    </ion-row>
    <ion-row style="margin-top: 2%;">
      <ion-col>
        <div class="IpsumBox">
          <img src="">
          Lorem Ipsum
        </div>
      </ion-col>
    </ion-row>
    <ion-row style="margin-top: 10%;">
      <ion-col>
        <div style="text-align: center;">
          <ion-button style="width: 60%; --border-width: medium;" shape="round" fill="outline">SPEICHERN</ion-button>
        </div>
      </ion-col>
    </ion-row>
    <ion-row style="margin-top: 10%; color: #907F63; font-size: 13px;">
      <ion-col style="text-align: center;">
        <div>
          <a href="">Abmelden</a>
        </div>
      </ion-col>
    </ion-row>
  </ion-grid>
</ion-content>
