.background {
    background-image: url(/../../assets/BG-Iconic_final/messeauswahl-top@1x.png);
    height: 20%;
    width: 100%;
    background-size: 100% auto;
    top: 0;
    align-items: baseline;
    position: absolute;
    left: 0px;
}

.background .header {
    color: white;
    font-size: 18;
    text-align: left;
    letter-spacing: 2px;
}

.background .headerSheet img {
    width: 50%;
    height: 50%;
}

#input {
    color: #112142;
    border-bottom: 1px solid #112142;
    font-size: 13px;
    letter-spacing: 2px;
}

ion-grid {
    font-family: Helvetica;
}

#button {
    width: 70%;
    border: solid #007072;
    height: auto;
    z-index: 1;
    position: relative;
    margin-left: 15%;
    margin-right: 15%;
    text-align: center;
    letter-spacing: 2px;
    font-size: 16px;
}

#button #object{
    margin: 0 auto;
    width: 80%;
    height: 50%;
    font-size: 16;
    color: #007072;
}

#button #object #image{
    z-index: 2;
    position: absolute;
    top: -15px;
    left: 40%;
    width: 20%;
    height: auto;
    background-color: whitesmoke;
}

#button #object #image1 {
    z-index: 2;
    position: absolute;
    top: -15px;
    left: 45%;
    width: 7%;
    height: auto;
    background-color: whitesmoke;
}


.background .return {
    --border-color: transparent;
    --ion-color-primary: white;
}


#submit {
    --ion-color-primary: #907F63;
    --border-width: medium;
    letter-spacing: 2px;
    color: #907F63;
}
