<ion-content>


  <ion-grid>
    <ion-row style="margin-top: 0px;" class="background">
      <ion-col size="3">
        <div class="iconBox" style="width: 100%;">
          <ion-button style="--border-color: transparent;" fill="outline">
            <ion-icon style="color: rgb(136, 116, 116)" slot="icon-only" name="list-outline"></ion-icon>
          </ion-button>
        </div>
      </ion-col>
      <ion-col style="position: relative; top: 4px" size="9">
        <div style="width: 100%; text-align: left;">
          <p style="font-size: 18px; color: white;">Aussteller 1</p>
        </div>
      </ion-col>
    </ion-row>
    <ion-row style="margin-top: 40%;">
      <ion-col style="display: flex;
      flex-direction: row;
      justify-content: center;">
        <!-- <div style="background: #F5F5F5;">
          <ion-searchbar placeholder="Produkt / Aussteller"></ion-searchbar>
        </div> -->
        <div style="display: flex;
        flex-direction: row;
        align-items: center;
        width: 95%;
        border-bottom: 1px solid #b4b8c2;">
          <ion-input placeholder="Produkt / Aussteller" type="text"></ion-input>
          <ion-icon style="color: #9ca0a0;font-size: 20px;" name="search-outline"></ion-icon>
        </div>
      </ion-col>
    </ion-row>
    <ion-row class="selection">
      <ion-col size="3">
        <div class="Box">
          <p style="margin-left: 10%;">ALLE</p>
        </div>
      </ion-col>
      <ion-col size="3">
        <div>
          <p>BESUCHT</p>
        </div>
      </ion-col>
      <ion-col size="6">
        <div>
          <p>NOCHMAL HINGEHEN</p>
        </div>
      </ion-col>
    </ion-row>
      <ion-row class="exhibRowHeader">
        <ion-col>
          <div class="title">
            <p style="margin-left: 3%;">Aussteller</p>
          </div>
        </ion-col>
      </ion-row>
      <ion-row class="exhibRow">
        <ion-col>
          <div class="lübbeContainer">
            <ion-row>
              <ion-col size="3">
                <div>
                  <img src="../../assets/Gruppe 86.png">
                </div>
              </ion-col>
              <ion-col size="6">
                <div style="text-align: left;">
                  <p>Bastei Lübbe</p>
                </div>
              </ion-col>
              <ion-col size="3" style="display: flex;
              flex-direction: row;
              justify-content: flex-end;
              align-items: center;">
                <!-- <div class="arrowButton">
                  <ion-button> -->
                    <ion-icon style="font-size: 25px;color: #007072;" 
                    name="arrow-forward-outline"></ion-icon>
                  <!-- </ion-button>
                </div> -->
              </ion-col>
            </ion-row>
          </div>
        </ion-col>
      </ion-row>
      <ion-row class="exhibRow">
        <ion-col>
          <div class="lübbeContainer">
            <ion-row>
              <ion-col size="3">
                <div>
                  <img src="/../../assets/Gruppe 86.png">
                </div>
              </ion-col>
              <ion-col size="6">
                <div style="text-align: left;">
                  <p>Bastei Lübbe</p>
                </div>
              </ion-col>
              <!-- <ion-col size="3">
                <div class="arrowButton">
                  <ion-button>
                    <ion-icon slot="icon-only" name="arrow-forward-outline"></ion-icon>
                  </ion-button>
                </div>
              </ion-col> -->
              <ion-col size="3" style="display: flex;
              flex-direction: row;
              justify-content: flex-end;
              align-items: center;">
                <!-- <div class="arrowButton">
                  <ion-button> -->
                    <ion-icon style="font-size: 25px;color: #007072;" 
                    name="arrow-forward-outline"></ion-icon>
                  <!-- </ion-button>
                </div> -->
              </ion-col>
            </ion-row>
          </div>
        </ion-col>
      </ion-row>
      <ion-row>
        <ion-col>
          <div class="lübbeContainer">
            <ion-row>
              <ion-col size="3">
                <div>
                  <img src="/../../assets/Gruppe 86.png">
                </div>
              </ion-col>
              <ion-col size="6">
                <div style="text-align: left;">
                  <p>Bastei Lübbe</p>
                </div>
              </ion-col>
              <!-- <ion-col size="3">
                <div class="arrowButton">
                  <ion-button>
                    <ion-icon slot="icon-only" name="arrow-forward-outline"></ion-icon>
                  </ion-button>
                </div>
              </ion-col> -->
              <ion-col size="3" style="display: flex;
              flex-direction: row;
              justify-content: flex-end;
              align-items: center;">
                <!-- <div class="arrowButton">
                  <ion-button> -->
                    <ion-icon style="font-size: 25px;color: #007072;" 
                    name="arrow-forward-outline"></ion-icon>
                  <!-- </ion-button>
                </div> -->
              </ion-col>
            </ion-row>
          </div>
        </ion-col>
      </ion-row>
      <ion-row class="exhibRow">
        <ion-col>
          <div class="ipsumContainer">
            <ion-row>
              <ion-col size="3">
                <div>
                  <img src="/../../assets/images2/pdfnew.svg">
                </div>
              </ion-col>
              <ion-col size="6">
                <div style="text-align: left;">
                  <ion-row class="LoremRow">
                    <p class="p1">Lorem Ipsum</p>
                  </ion-row>
                  <ion-row class="LoremRow">
                    <p class="p2"><b>Lorem Ipsum...</b></p>
                  </ion-row>
                  <ion-row class="LoremRow">
                    <p class="p3">Lorem</p>
                  </ion-row>
                </div>
              </ion-col>
              <!-- <ion-col size="3">
                <div class="arrowButton">
                  <ion-button>
                    <ion-icon slot="icon-only" name="arrow-forward-outline"></ion-icon>
                  </ion-button>
                </div>
              </ion-col> -->
              <ion-col size="3" style="display: flex;
              flex-direction: row;
              justify-content: flex-end;
              align-items: center;">
                <!-- <div class="arrowButton">
                  <ion-button> -->
                    <ion-icon style="font-size: 25px;color: #007072;" 
                    name="arrow-forward-outline"></ion-icon>
                  <!-- </ion-button>
                </div> -->
              </ion-col>
            </ion-row>
          </div>
        </ion-col>
      </ion-row>
      <ion-row class="exhibRow">
        <ion-col>
          <div class="lübbeContainer">
            <ion-row>
              <ion-col size="3">
                <div>
                  <img src="/../../assets/Gruppe 86.png">
                </div>
              </ion-col>
              <ion-col size="6">
                <div style="text-align: left;">
                  <p>Bastei Lübbe</p>
                </div>
              </ion-col>
              <!-- <ion-col size="3">
                <div class="arrowButton">
                  <ion-button>
                    <ion-icon slot="icon-only" name="arrow-forward-outline"></ion-icon>
                  </ion-button>
                </div>
              </ion-col> -->
              <ion-col size="3" style="display: flex;
              flex-direction: row;
              justify-content: flex-end;
              align-items: center;">
                <!-- <div class="arrowButton">
                  <ion-button> -->
                    <ion-icon style="font-size: 25px;color: #007072;" 
                    name="arrow-forward-outline"></ion-icon>
                  <!-- </ion-button>
                </div> -->
              </ion-col>
            </ion-row>
          </div>
        </ion-col>
      </ion-row>
      <ion-row class="exhibRow">
        <ion-col>
          <div class="ipsumContainer">
            <ion-row>
              <ion-col size="3">
                <div>
                  <img src="/../../assets/images2/pdfnew.svg">
                </div>
              </ion-col>
              <ion-col size="6">
                <div style="text-align: left;">
                  <ion-row>
                    <ion-col class="LoremRow">
                      <p class="p1">Lorem Ipsum</p>
                    </ion-col>
                  </ion-row>
                  <ion-row class="LoremRow">
                    <ion-col>
                      <p class="p2"><b>Lorem Ipsum...</b></p>
                    </ion-col>
                  </ion-row>
                  <ion-row class="LoremRow">
                    <ion-col>
                      <p class="p3">Lorem</p>
                    </ion-col>
                  </ion-row>
                </div>
              </ion-col>
              <!-- <ion-col size="3">
                <div class="arrowButton">
                  <ion-button>
                    <ion-icon slot="icon-only" name="arrow-forward-outline"></ion-icon>
                  </ion-button>
                </div>
              </ion-col> -->
              <ion-col size="3" style="display: flex;
              flex-direction: row;
              justify-content: flex-end;
              align-items: center;">
                <!-- <div class="arrowButton">
                  <ion-button> -->
                    <ion-icon style="font-size: 25px;color: #007072;" 
                    name="arrow-forward-outline"></ion-icon>
                  <!-- </ion-button>
                </div> -->
              </ion-col>
            </ion-row>
          </div>
        </ion-col>
      </ion-row>
    </ion-grid>
  
  </ion-content>
  