.background {
    background-image: url(/../../assets/BG-Iconic_final/messeauswahl-top@1x.png);
    height: 20%;
    width: 100%;
    background-size: 100% auto;
    top: 0;
    align-items: baseline;
    position: absolute;
    left: 0px;
}

.background .header {
    color: white;
    font-size: 18;
    text-align: left;
    letter-spacing: 2px;
}

.background .headerSheet img {
    width: 50%;
    height: 50%;
}

.background .headerSheet .return {
    --ion-color-primary: #7BB0B1;
    --border-color: transparent;
}

ion-input {
    border-bottom: 1px solid #112142;
}

ion-content {
    font-family: Work Sans, Helvetica, sans-serif;
    letter-spacing: 2px;
}

.col {
    text-align: center;
    color: #112142;
}

.submit {
    --border-width: medium;
    --ion-color-primary: #907F63;
    width: 70%;
    letter-spacing: 2px;
}

.col .tag {
    font-size: 23px;
}

ion-label {
    font-size: 13px;
}