<ion-content>

  <ion-row class="background">
    <ion-col style="text-align: right" size="3">
      <div class="headerSheet" style="margin-top: 8%;">
        <ion-button (click)="return1()" class="return" fill="outline">
          <ion-icon slot="icon-only" name="arrow-back-outline"></ion-icon>
        </ion-button>
      </div>
    </ion-col>
    <ion-col size="9">
      <div style="position: relative; top: 15%;">
        <p class="header">Erfassen: Aussteller</p>
      </div>
    </ion-col>
  </ion-row>
  <ion-row style="margin-top: 45%;">
    <ion-col class="col">
      <div>
        <p class="tag">Lorem Ipsum</p>
      </div>
    </ion-col>
  </ion-row>
  <ion-row style="margin-top: 20px;">
    <ion-col size="3">
    </ion-col>
    <ion-col size="6" class="col">
      <div>
        <ion-label position="stacked">HALLE</ion-label>
        <ion-input placeholder="Halle eingeben"></ion-input>
      </div>
    </ion-col>
    <ion-col size="3">
    </ion-col>
  </ion-row>
  <ion-row style="margin-top: 15px;">
    <ion-col size="3">
    </ion-col>
    <ion-col size="6" class="col">
      <div>
        <ion-label position="stacked">GANG</ion-label>
        <ion-input placeholder="Gang eingeben"></ion-input>
      </div>
    </ion-col>
    <ion-col size="3">
    </ion-col>
  </ion-row>
  <ion-row style="margin-top: 15px;">
    <ion-col size="3">
    </ion-col>
    <ion-col size="6" class="col">
      <div>
        <ion-label position="stacked">AUSSTELLER</ion-label>
        <ion-input placeholder="Aussteller eingeben"></ion-input>
      </div>
    </ion-col>
    <ion-col size="3">
    </ion-col>
  </ion-row>
  <ion-row style="margin-top: 15%;">
    <ion-col style="text-align: center;">
      <div>
        <ion-button routerLink="/katalog" routerDirection="root" class="submit" fill="outline" shape="round">
          SENDEN
          <ion-icon slot="end" name="arrow-forward-outline"></ion-icon>
        </ion-button>        
      </div>
    </ion-col>
  </ion-row>
</ion-content>
